* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header {
	background-color:#ffed74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: #e8c66a;
	border: 1px black solid;
	padding: 20px;
}
#overlay {
	background-color: #999;
	border: 1px black solid;
	padding:20px;
}
main {
	background-color: orange;
	border: 1px black solid;
	padding: 20px;
}
.row {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: #e89c6c;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color:#ff957e;
	border: 1px black solid;
	padding: 20px;
}
#footer-left {
	background-color:#ffe2b8;
	border: 1px black solid;
	padding: 20px;
}
#footer-center {
	background-color:#ffe2b8;
	border: 1px black solid;
	padding: 20px;
}
#footer-right {
	background-color:#ffe2b8;
	border: 1px black solid;
	padding: 20px;
}